.App {
  max-width: 540px;
  min-width: 360px;
  margin: 0 auto;
  box-shadow: 0 0 3px 1px #BDBDBD;
  display: flex;
  flex-direction: column;
}

.todo-header {
  background-color: #2196F3;
  padding: 20px;
  border-bottom: #BDBDBD;
  color: white;
}

.todo-title {
  margin: 60px 0 0 0;
  font-size: 1.5em;
}

.todo-list {
  color: #757575;
  font-size: 28px;
  font-weight: bold;
  line-height: 418px;
  text-align: center;
  overflow-y: scroll;
  max-height: 440px;
}
.todo-list li {
  color: black;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-align: left;
  margin: 0 16px;
  padding: 16px 0;
  border-bottom: 1px solid #BDBDBD;
  display: flex;
  justify-content: space-between;
}
.todo-list li:last-child {
  border-bottom: none;
}
.todo-list .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.todo-list .item img {
  width: 16px;
}
.todo-list .item span {
  margin-left: 12px;
  white-space: nowrap;
}
.todo-list .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-list .options img {
  cursor: pointer;
  width: 16px;
  margin-left: 12px;
}

.todo-inputWrapper {
  cursor: pointer;
  border-top: 1px solid #BDBDBD;
  padding: 16px;
  display: flex;
  align-items: center;
}
.todo-inputWrapper img {
  width: 16px;
}
.todo-inputWrapper > input {
  padding-left: 16px;
  outline: none;
  border: none;
  width: calc(100% - 16px);
  font-size: 16px;
  box-sizing: border-box;
}