.scrollWrapper {
  display: none;
  position: absolute;
  right: 0;
  height: 100%;
  width: 4px;
}
.scrollBar {
  position: absolute;
  width: inherit;
  height: 0px;
  border-radius: 2px;
  background-color: #2196F3;  
}