.inputWrapper {
  cursor: pointer;
  border-top: 1px solid #BDBDBD;
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputWrapper img {
  cursor: pointer;
  width: 18px;
  padding: 16px 0;
}
.inputWrapper > input {
  background-color: inherit;
  cursor: pointer;
  padding: 16px;
  outline: none;
  border: none;
  flex-grow: 1;
  font-size: 16px;
}