.userDialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.userDialog {
  padding: 20px 50px;
  width: 380px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px #757575;
}
.userDialog nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.userDialog nav .divided {
  height: 25px;
  margin: 10px;
  border-left: 1px solid #757575;
}
.userDialog nav a {
  font-family: "microsoft yahei";
  font-size: 20px;
  color: #757575;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s;
}
.userDialog nav a.active {
  font-weight: bold;
  color: #2196f3;
  border-bottom: 2px solid #2196F3;
}
.userDialog nav a:hover {
  border-bottom: 2px solid #2196F3;
}
.form-wrapper #signupForm {
  display: none;
}

/* 重置密码框 */
.reset-wrapper h1 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
}

/* 公有 */
form div {
  margin-bottom: 20px;
  width: 100%;
}
form label {
  display: inline-block;
  letter-spacing: 8px;
  width: 25%;
}
form input {
  width: 75%;
  padding: 6px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #dddddd;
}
form input[type='submit'] {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: #2196F3;
  border: none;
}
div.options {
  text-align: right;
}
div.options a {
  display: inline-block;
  font-size: 14px;
  color: #757575;
  margin-bottom: 20px;
}